/* 5-update-quantities.html */
.quantities {
	width: 200px;
	text-align: center;
	border: 2px solid #ccc;
	padding: 20px 5px;
	margin: 40px auto;
	font-size: 20px;
}
.quantities button {
	margin: 5px 2px;
	font-size: 16px;
}	
.quantities input {
	width: 40px;
	margin: 10px 0 0 5px;
	font-size: 14px;
}
